extends layout

block content
  div#container
   h1 #{title}
   p(id="intro-text") A simple app that will scrape a webpage and print out the inline styles for you! Just enter a valid <mark>website address</mark> and click on the submit button!
   div(class="row")
    form(id="scrape",method="post",action="/scrape")
     div(class="form-group")  
      div(class="col-md-10")
       input(id="url",class="form-control",type="url",name="url",placeholder="http://www.example.com/")
      div(class="col-md-2")
       input(class="btn btn-default",type="submit",value="submit")
 

